.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Bungee Shade", sans-serif;
}

main {
  margin: 3rem;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 2rem;
  }
}
