.App {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: 3rem;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 2rem;
  }
}

#submit:hover {
  background-color: black;
  color: white;
}

.buttonLooksLikeLink {
  font-size: 0.75rem;
  color: #485fc7;
  cursor: pointer !important;
  text-decoration: none;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

h1 {
  font-family: "Bungee Shade", sans-serif;
}

/* Override MVP styling. */
a {
  border: initial;
  border-radius: initial;
  display: initial;
  padding: initial;
  font-size: initial;
  font-weight: bold;
  line-height: initial;
  margin: initial;
}

form {
  border: initial;
  border-radius: initial;
  box-shadow: initial;
  max-width: initial;
  min-width: initial;
  padding: initial;
  text-align: inherit;
  display: initial;
}

nav {
  align-items: initial;
  display: initial;
  font-weight: initial;
  justify-content: initial;
  margin-bottom: initial;
}

footer,
header,
main {
  max-width: initial;
  padding: initial;
}

div header {
  padding-top: initial;
}

button {
  border-radius: initial;
  display: initial;
  font-size: initial;
  font-weight: initial;
  line-height: initial;
}

ul li {
  padding: initial;
}
