.App {
  font-family: sans-serif;
  text-align: center;
}

main {
  margin: 3rem;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 2rem;
  }
}

#submit:hover {
  background-color: black;
  color: white;
}

.buttonLooksLikeLink {
  font-size: 0.75rem;
  color: #485fc7;
  cursor: pointer !important;
  text-decoration: none;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

h1 {
  font-family: "Bungee Shade", sans-serif;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem!important;
  }
}
